nav{
    background-color: rgba(233, 233, 233, 0.322);
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;
}

.button{
    display: inline-block;
    width: 50%;
    max-width: 350px;
    height: 8vh;
    font-size: 1em;
    border-radius: 50px;
    border: none;
    color: white;
    background: $gradient;
    margin-top: 3vh;
    margin-bottom: 6vh;
    box-shadow: $regular-shadow;
    @media (min-width: map-get($breakpoint, tablette)){
        margin-bottom: 3vh;
    }
}
label{
    position: relative;
}
.location{
    
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: rgba(199, 194, 194, 0.938);
    text-align: center;
    border: none;
}
input::placeholder{
    font-family: FontAwesome, 'Roboto';
    color: black;
}
.button:hover{
    box-shadow: $hover-shadow;
    opacity: .7;
}