* {
    box-sizing: border-box;
    text-decoration: none;    
}
body{
    font-family: 'Roboto';
    margin: 0;
    background-color: $background-color;
}

a{
    color: black;
}

h1{
    font-family: 'shrikhand';
    text-align: center;
    margin: 0;
    @media (min-width: map-get($breakpoint, tablette)){
        font-size: 4em;
    }
    @media (min-width: map-get($breakpoint, desktop)){
    font-size: 7em;
    }
    @media (min-width: map-get($breakpoint, desktop-xl)){
        font-size: 10em;
    }
}    
h2{
    font-size: 1.5em;
    @media (min-width: map-get($breakpoint, tablette)){
        font-size: 25px;
    }
    @media (min-width: map-get($breakpoint, desktop)){
    font-size: 40px;
    }
    @media (min-width: map-get($breakpoint, desktop-xl)){
        font-size: 60px;
    }
}
h3{
    margin: 0;
    font-size: 0.8em;
    @media (min-width: map-get($breakpoint, tablette)){
        font-size: 15px;
    }
    @media (min-width: map-get($breakpoint, desktop)){
    font-size: 25px;
    }
    @media (min-width: map-get($breakpoint, desktop-xl)){
        font-size: 35px;}
}
h4{
    margin: 0;
    font-size: 0.8em;
    @media (min-width: map-get($breakpoint, tablette)){
        font-size: 15px;
    }
    @media (min-width: map-get($breakpoint, desktop)){
    font-size: 20px;
    }
    
}
ul {
    list-style-type: none;
    padding: 0;
    }
i{
    font-size: 1.2em;
    display: inline-block;  
    text-align: center;
}

p{
    font-size: 15px;
}

address{
    font-size: 0.6em;
}
span{
    border-bottom: solid 2px $tertiary;
}