$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$background-color: rgba(233, 233, 233);
$gradient: linear-gradient(3turn, $primary, $secondary);
$regular-shadow: 0px 2px 5px silver;
$hover-shadow: 0px 5px 10px rgb(100, 100, 100);
