main{
    background-color: rgba(233, 233, 233, 1);
}
.header-menu{
    height: 300px;
    position: relative;
    &__picture{
        height: 100%;
        width: 100%;
        object-fit: cover;        
        display: block;
        &--title{
            position: absolute;
            bottom: 0;
            height: 20%;
            width: 100%;
            margin: 0;
            background-color: rgba(233, 233, 233, 1);
            border-radius: 30px 30px 0 0;
            font-family: 'Shrikhand';
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }    
}
i{
    display: inline-block;
}




.entree{
    @include menu;
    &__description{
        display: flex;
        justify-content: space-between;
        
    }
}
.plat{
    @include menu;
    &__description{
        display: flex;
        justify-content: space-between;
    }
}
.dessert{
    @include menu;
    &__description{
        display: flex;
        justify-content: space-between;
    }
}