footer{
    @include text-color (hsla(356, 12%, 27%, 1));
    padding-left: 5vw;
    padding-bottom: 30px;
    @media (min-width: map-get($breakpoint, tablette)){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
}
footer h2{
    font-family: 'Shrikhand';
    @media (min-width: map-get($breakpoint, tablette)){
    font-size: 30px;
    }
}
footer i{
    display: inline-block;
    width: 20px;
    height: 16px;
}
footer a{
    color: white;
}
