footer{
    @include text-color (hsla(356, 12%, 27%, 1));
    padding-left: 5vw;
    padding-bottom: 30px;
    @media (min-width: map-get($breakpoint, tablette)){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
}
footer h2{
    font-family: 'Shrikhand';
    @media (min-width: map-get($breakpoint, tablette)){
    font-size: 30px;
    }
}
footer i{
    display: inline-block;
    height: 16px;
    width: 40px;
}
footer a{
    color: white;
}
footer li{
    font-size: 15px;
    @media (min-width: map-get($breakpoint, tablette)){
        font-size: 18px;
    }
    @media (min-width: map-get($breakpoint, desktop)){
    font-size: 20px;
    }
    @media (min-width: map-get($breakpoint, desktop-xl)){
        font-size: 30px;}
}