footer{
    background-color: rgb(77, 62, 62);
    color: white;
    padding-left: 5vw;
    margin-top: 10vh;
}
footer h3{
    font-family: 'Shrikhand';
}
footer i{
    display: inline-block;
    width: 20px;
    height: 16px;
}

