
header{
    position: relative;   
    background-color: #fff;
    
}  
header a{
    position: absolute;
    left: 20px;
    top: 8%;
    
}
a i{
    font-size: 2em;
    @media (min-width: map-get($breakpoint, tablette)){
        font-size: 2em;
    }
    @media (min-width: map-get($breakpoint, desktop)){
    font-size: 3em;
    }
    @media (min-width: map-get($breakpoint, desktop-xl)){
        font-size: 5em;
    }
}